
.navbar-default {
    background-color: #f65a5b;
       border-color: #FF7374;
}
.navbar-default .navbar-nav>li>a {
    color: #fcf8e3;
}
.section-heading {
    margin-bottom: 30px;
    color: #f65a5b;
}
.lead {
    font-size: 18px;
    font-weight: 400;
    color: #202256;
}